Step 1. Load & Understand Data

In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split



df = pd.read_csv('Airline Customer Satisfaction Survey.csv')
print(df.shape)

(25976, 25)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [38]:
# Dropping the 'Unnamed: 0' and 'id' columns
df = df.drop(['Unnamed: 0', 'id'], axis=1)

Categorical variables identified : Gender, Customer Type, Type of Travel, Class, satisfaction

In [39]:
# Convert categorical predictors to dummy variables
df = pd.get_dummies(df, drop_first=True)

# Convert all columns to float data type
df = df.astype(float)
df

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,52.0,160.0,5.0,4.0,3.0,4.0,3.0,4.0,3.0,5.0,...,5.0,5.0,50.0,44.0,0.0,0.0,0.0,1.0,0.0,1.0
1,36.0,2863.0,1.0,1.0,3.0,1.0,5.0,4.0,5.0,4.0,...,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,20.0,192.0,2.0,0.0,2.0,4.0,2.0,2.0,2.0,2.0,...,2.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
3,44.0,3377.0,0.0,0.0,0.0,2.0,3.0,4.0,4.0,1.0,...,1.0,4.0,0.0,6.0,1.0,0.0,0.0,0.0,0.0,1.0
4,49.0,1182.0,2.0,3.0,4.0,3.0,4.0,1.0,2.0,2.0,...,2.0,4.0,0.0,20.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,34.0,526.0,3.0,3.0,3.0,1.0,4.0,3.0,4.0,4.0,...,5.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
25972,23.0,646.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,5.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
25973,17.0,828.0,2.0,5.0,1.0,5.0,2.0,1.0,2.0,2.0,...,4.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
25974,14.0,1127.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,...,5.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
25975,42.0,264.0,2.0,5.0,2.0,5.0,4.0,2.0,2.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                25976 non-null  float64
 1   Flight Distance                    25976 non-null  float64
 2   Inflight wifi service              25976 non-null  float64
 3   Departure/Arrival time convenient  25976 non-null  float64
 4   Ease of Online booking             25976 non-null  float64
 5   Gate location                      25976 non-null  float64
 6   Food and drink                     25976 non-null  float64
 7   Online boarding                    25976 non-null  float64
 8   Seat comfort                       25976 non-null  float64
 9   Inflight entertainment             25976 non-null  float64
 10  On-board service                   25976 non-null  float64
 11  Leg room service                   25976 non-null  float64
 12  Baggage handling                   25976 non-null  float64
 13  Checkin service                    25976 non-null  float64
 14  Inflight service                   25976 non-null  float64
 15  Cleanliness                        25976 non-null  float64
 16  Departure Delay in Minutes         25976 non-null  float64
 17  Arrival Delay in Minutes           25893 non-null  float64
 18  Gender_Male                        25976 non-null  float64
 19  Customer Type_disloyal Customer    25976 non-null  float64
 20  Type of Travel_Personal Travel     25976 non-null  float64
 21  Class_Eco                          25976 non-null  float64
 22  Class_Eco Plus                     25976 non-null  float64
 23  satisfaction_satisfied             25976 non-null  float64
dtypes: float64(24)
memory usage: 4.8 MB

Treatment of NA values -> not to drop the columns but to instead drop the rows.

In [41]:
# Drop rows with NA values
df = df.dropna()

In [42]:
print(df.shape)

(25893, 24)

In [43]:
#double checking that NA rows were dropped. 
df.isna().sum()

Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender_Male                          0
Customer Type_disloyal Customer      0
Type of Travel_Personal Travel       0
Class_Eco                            0
Class_Eco Plus                       0
satisfaction_satisfied               0
dtype: int64

split data into train and test

In [46]:
import statsmodels.api as sm
# Extract predictors and response variables
X = df.drop('satisfaction_satisfied', axis=1)
y = df['satisfaction_satisfied']

# Add constant column for intercept
X = sm.add_constant(X)

X.dtypes

const                                float64
Age                                  float64
Flight Distance                      float64
Inflight wifi service                float64
Departure/Arrival time convenient    float64
Ease of Online booking               float64
Gate location                        float64
Food and drink                       float64
Online boarding                      float64
Seat comfort                         float64
Inflight entertainment               float64
On-board service                     float64
Leg room service                     float64
Baggage handling                     float64
Checkin service                      float64
Inflight service                     float64
Cleanliness                          float64
Departure Delay in Minutes           float64
Arrival Delay in Minutes             float64
Gender_Male                          float64
Customer Type_disloyal Customer      float64
Type of Travel_Personal Travel       float64
Class_Eco                            float64
Class_Eco Plus                       float64
dtype: object

In [50]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit OLS regression model
model = sm.OLS(y_train, X_train)
results = model.fit()

# Add constant column for intercept in the test set
X_test = sm.add_constant(X_test)

# Make predictions on the test set
y_pred = results.predict(X_test)

# Print regression summary
print(results.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     satisfaction_satisfied   R-squared:                       0.553
Model:                                OLS   Adj. R-squared:                  0.552
Method:                     Least Squares   F-statistic:                     972.6
Date:                    Sat, 10 Jun 2023   Prob (F-statistic):               0.00
Time:                            14:28:29   Log-Likelihood:                -5714.9
No. Observations:                   18125   AIC:                         1.148e+04
Df Residuals:                       18101   BIC:                         1.167e+04
Df Model:                              23
Covariance Type:                nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -0.1671      0.019     -8.993      0.000      -0.204      -0.131
Age                                  -0.0010      0.000     -5.968      0.000      -0.001      -0.001
Flight Distance                   -1.008e-06   2.88e-06     -0.349      0.727   -6.66e-06    4.65e-06
Inflight wifi service                 0.0723      0.003     24.959      0.000       0.067       0.078
Departure/Arrival time convenient    -0.0199      0.002     -9.607      0.000      -0.024      -0.016
Ease of Online booking               -0.0450      0.003    -15.701      0.000      -0.051      -0.039
Gate location                         0.0004      0.002      0.177      0.859      -0.004       0.005
Food and drink                       -0.0026      0.003     -0.941      0.347      -0.008       0.003
Online boarding                       0.0788      0.003     30.677      0.000       0.074       0.084
Seat comfort                          0.0032      0.003      1.086      0.277      -0.003       0.009
Inflight entertainment                0.0173      0.004      4.700      0.000       0.010       0.025
On-board service                      0.0355      0.003     13.848      0.000       0.030       0.041
Leg room service                      0.0312      0.002     14.429      0.000       0.027       0.035
Baggage handling                      0.0183      0.003      6.237      0.000       0.013       0.024
Checkin service                       0.0407      0.002     18.908      0.000       0.036       0.045
Inflight service                      0.0120      0.003      3.983      0.000       0.006       0.018
Cleanliness                           0.0252      0.003      7.948      0.000       0.019       0.031
Departure Delay in Minutes            0.0004      0.000      1.757      0.079    -5.1e-05       0.001
Arrival Delay in Minutes             -0.0010      0.000     -4.028      0.000      -0.001      -0.001
Gender_Male                           0.0225      0.005      4.538      0.000       0.013       0.032
Customer Type_disloyal Customer      -0.3132      0.008    -39.131      0.000      -0.329      -0.297
Type of Travel_Personal Travel       -0.3906      0.008    -50.766      0.000      -0.406      -0.376
Class_Eco                            -0.1192      0.007    -16.406      0.000      -0.133      -0.105
Class_Eco Plus                       -0.1227      0.011    -11.321      0.000      -0.144      -0.101
==============================================================================
Omnibus:                      903.805   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1358.824
Skew:                           0.447   Prob(JB):                    8.61e-296
Kurtosis:                       4.000   Cond. No.                     1.23e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [51]:
print(y_train.shape)
print(X_train.shape)

(18125,)
(18125, 24)

In [52]:
print(y_test.shape)
print(X_test.shape)

(7768,)
(7768, 24)

scale train & test data by standardScaler()

In [53]:
from sklearn.preprocessing import StandardScaler

# Create an instance of StandardScaler
scaler = StandardScaler()

# Scale the train set
X_train_scaled = scaler.fit_transform(X_train)

# Scale the test set
X_test_scaled = scaler.transform(X_test)