In [66]:
import seaborn
import pandas as pd

airfares = pd.read_csv("Airfares.csv")

In [67]:
airfares.dtypes

S_CODE       object
S_CITY       object
E_CODE       object
E_CITY       object
COUPON      float64
NEW           int64
VACATION     object
SW           object
HI          float64
S_INCOME    float64
E_INCOME    float64
S_POP         int64
E_POP         int64
SLOT         object
GATE         object
DISTANCE      int64
PAX           int64
FARE        float64
dtype: object

In [68]:
airfares.describe()

,COUPON,NEW,HI,S_INCOME,E_INCOME,S_POP,E_POP,DISTANCE,PAX,FARE
count,638.000000,638.000000,638.000000,638.000000,638.000000,6.380000e+02,6.380000e+02,638.000000,638.000000,638.000000
mean,1.202335,2.753918,4442.141129,27759.860502,27663.727273,4.557004e+06,3.194503e+06,975.653605,12782.214734,160.876677
std,0.203821,0.760448,1724.267051,3596.207837,4611.325018,3.010985e+06,2.735604e+06,646.242403,13202.228860,76.022436
min,1.000000,0.000000,1230.480000,14600.000000,14600.000000,2.983800e+04,1.117450e+05,114.000000,1504.000000,42.470000
25%,1.040000,3.000000,3090.137500,24706.000000,23903.000000,1.862106e+06,1.228816e+06,455.000000,5328.500000,106.290000
50%,1.150000,3.000000,4208.185000,28637.000000,26409.000000,3.532657e+06,2.195215e+06,850.000000,7792.000000,144.600000
75%,1.297500,3.000000,5480.575000,29693.500000,31981.000000,7.830332e+06,4.549784e+06,1306.250000,14090.500000,209.350000
max,1.940000,3.000000,10000.000000,38813.000000,38813.000000,9.056076e+06,9.056076e+06,2764.000000,73892.000000,402.020000

In [69]:
airfares.isna().sum()

S_CODE      0
S_CITY      0
E_CODE      0
E_CITY      0
COUPON      0
NEW         0
VACATION    0
SW          0
HI          0
S_INCOME    0
E_INCOME    0
S_POP       0
E_POP       0
SLOT        0
GATE        0
DISTANCE    0
PAX         0
FARE        0
dtype: int64

In [70]:
target='FARE'
predictors=['COUPON', 'NEW', 'HI', 'S_INCOME', 'E_INCOME', 'S_POP', 'E_POP', 'DISTANCE', 'PAX']

In [71]:
from sklearn.model_selection import train_test_split
X=pd.get_dummies(airfares[predictors])
y=airfares[target]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0) 
#we set random state so we all get the same answers!

In [72]:
#Ridge model first - make sure we optimize alpha!
import numpy as np
from sklearn import linear_model


reg = linear_model.RidgeCV(alphas=np.logspace(-6, 6, 20))
reg.fit(X_train, y_train)
reg.alpha_

233572.14690901214

In [73]:
from sklearn import metrics
r2=metrics.r2_score(y_train, reg.predict(X_train))
print(r2)

0.6921807443339782

In [74]:
r2=metrics.r2_score(y_test, reg.predict(X_test))
print(r2)

0.697542411525605

In [75]:
#let sklearn do it all for you 
reg2 = linear_model.LassoCV(cv=10)
reg2.fit(X_train, y_train)
reg2.alpha_

54410.31384783662

In [76]:
r2=metrics.r2_score(y_train, reg2.predict(X_train))
print(r2)

0.261986862176392

In [77]:
r2=metrics.r2_score(y_test, reg2.predict(X_test))
print(r2)

0.24729843048655242

In [78]:
#elastic net has two parameters: you could gridsearch and let sklearn do its thing
reg3 = linear_model.ElasticNetCV(cv=10, l1_ratio = [.1, .5, .7, .9, .95, .99, 1])
reg3.fit(X_train, y_train)
reg3.alpha_

54410.31384783662

In [79]:
r2=metrics.r2_score(y_train, reg3.predict(X_train))
print(r2)

0.261986862176392

In [80]:
r2=metrics.r2_score(y_test, reg3.predict(X_test))
print(r2)

0.24729843048655242